.layout-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.content-left {
    height: 100vh;
    background:#9097A9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-right {
    height: 100vh;
    background: #AFBEFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 2rex;

}